.entry {
  display: flex;
  width: auto;
  align-items: stretch;

  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.entry-icon {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;

  margin-right: 1rem;
}

.entry-icon img {
  width: 100%;
  height: 100%;
}

.entry-content {
  flex: 1;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.entry-content .top {

}

.entry-content .top .timeago {
  color: #444;
}

.quote {
  color: #444;
  margin: 10px;
  width: 80%;
  max-width: 100%;
}

figure.media {
  margin-top: 10px;
  width: 100%;
  height: auto;
  max-width: 600px;
}

@media screen and (max-width: 800px) {
  .entry-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .entry {
    padding-left: 10px;
    padding-right: 10px;
  }

  .entry-icon {
    margin-right: .5rem;
  }
}