html, body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  background-color: #fbfbfb;/*#333*/;
  color: #000/*#fff*/;

  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#app {
  margin-top: 40px;
  height: calc(100% - 40px);
  max-height: calc(100% - 40px)
}

#app .wrapper {
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1.5em;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) {
  margin-top: 0.5em;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.83333333em;
}
h3 {
  font-size: 1.66666667em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.33333333em;
}
h6 {
  font-size: 1.16666667em;
}

a {
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .hidden-medium {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .hidden-small {
    display: none;
  }
}