<div class="entry">
  <figure class="entry-icon">
    <img alt="profile icon" :src="entry.icon">
  </figure>

  <div class="entry-content">
    <div class="top">
      <strong>@{{entry.name}} <span v-if="entry.target">> @{{entry.target}}</span></strong><small class="timeago"> ~ {{timeAgo(entry.timestamp)}} ago</small>
    </div>
    <div class="content">
      <p>{{entry.message}}</p>
      <figure class="media" v-if="entry.media">
        <img :src="entry.media" :alt="entry.media">
      </figure>
    </div>
    <div class="quote" v-if="entry.quote">
      <p>{{entry.quote.message}}</p>
      <figure class="media" v-if="entry.quote.media">
        <img :src="entry.quote.media" :alt="entry.quote.media">
      </figure>
      <!--<pre><code>{{entry.quote}}</code></pre>-->
    </div>
    <!--
    <div class="bottom" v-if="entry.writable">
      <a><icon name="edit"></icon></a>
      <a><icon name="delete"></icon></a>
    </div>
    -->
  </div>
</div>