<div class="root">
  <div class="root-left profile">
    <figure class="icon">
      <img :src="'data:image/svg+xml;utf8,'+$store.state.data.icon" alt="Profile icon">
    </figure>
    <p class="name"><strong>@{{$store.state.data.name}}</strong></p>
    <p class="desc">{{$store.state.data.desc}}</p>
    <p class="site"><small>{{$store.state.data.site}}</small></p>

    <div class="portal-list">
      <p class="portal-list-item" v-for="(portal, index) in $store.state.portals">
        {{ portal }}
      </p>
    </div>
    
  </div>
  <div class="root-middle">
    <entry v-for="entry in $store.state.feed" :key="entry.index" :entry="entry"></entry>
  </div>
  <!--<div class="root-right">
    
  </div>-->
</div>